/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Permanent Marker Regular'), local('PermanentMarker-Regular'), url(https://fonts.gstatic.com/s/permanentmarker/v9/Fh4uPib9Iyv2ucM6pGQMWimMp004La2Ceg.ttf) format('truetype');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/s/merriweather/v21/u-440qyriQwlOrhSvowK_l5-fCZJ.ttf) format('truetype');
}
.container {
  margin: 0 auto;
  font-size: 62.5%;
}
.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 25rem;
  background: #313D5A;
}
@media (max-width: 500px) {
  .title {
    height: 15rem;
  }
}
@media (max-width: 1000px) {
  .title {
    height: 20rem;
  }
}
.title .wunder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Permanent Marker', cursive;
  width: 50%;
  font-size: 5rem;
}
@media (max-width: 1000px) {
  .title .wunder {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30%;
  }
}
@media (max-width: 500px) {
  .title .wunder {
    margin: 0 3%;
    font-size: 4rem;
    margin: 0 15%;
  }
}
.title .wunder h1 {
  color: #CBC5EA;
}
.title .headimg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.title .headimg img {
  width: 50%;
  border-radius: 75%;
  border: 2px #EAEAEA solid;
}
@media (max-width: 1000px) {
  .title .headimg img {
    display: none;
  }
}
@media (max-width: 500px) {
  .title .headimg img {
    display: none;
  }
}
.abtsection {
  background: #313D5A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.abtsection h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  padding: 0 22.5% 0 22.5%;
  color: #EAEAEA;
}
.abtsection p {
  color: #EAEAEA;
  font-size: 1.5rem;
  padding: 3% 25% 3% 25%;
  text-align: justify;
}
@media (max-width: 500px) {
  .abtsection p {
    padding: 10% 10%;
    font-size: 1rem;
  }
}
header .nav {
  background: #73628A;
}
header .nav nav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5%;
}
@media (max-width: 500px) {
  header .nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
}
header .nav nav .links {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}
@media (max-width: 500px) {
  header .nav nav .links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 12rem;
    border-right: 2px #EAEAEA solid;
  }
  header .nav nav .links i {
    display: none;
  }
}
header .nav nav .links a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  color: #183642;
  font-size: 1.1rem;
}
header .nav nav .links a:hover {
  color: #CBC5EA;
}
header .nav nav .login {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 5rem;
}
@media (max-width: 500px) {
  header .nav nav .login {
    font-size: 1rem;
  }
}
header .nav nav .login a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  color: #183642;
  font-size: 1.25rem;
  text-align: center;
}
header .nav nav .login a:hover {
  color: #CBC5EA;
}
.abtbody {
  background-color: #313D5A;
}
.section1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .section1 {
    width: 100%;
  }
}
.section1 h1 {
  margin: 4%;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  text-decoration-line: underline;
  color: #EAEAEA;
}
@media (max-width: 500px) {
  .section1 h1 {
    width: 100%;
  }
}
.section1 p {
  font-family: 'Merriweather', serif;
  color: #EAEAEA;
  width: 50%;
}
@media (max-width: 500px) {
  .section1 p {
    width: 90%;
  }
}
.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4%;
}
.section2 .contains {
  margin: 0.8%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #313D5A;
  width: 100%;
  text-align: center;
}
@media (max-width: 500px) {
  .section2 .contains {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .section2 .contains {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.section2 .contains .image {
  width: 40%;
}
.section2 .contains img {
  width: 48%;
  border-radius: 30rem;
  border: 5px solid #73628A;
}
.section2 .contains h1 {
  margin: 4%;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  text-decoration-line: underline;
  color: #CBC5EA;
}
.section2 .contains p {
  font-family: 'Merriweather', serif;
  color: #EAEAEA;
}
@media (max-width: 500px) {
  .section2 .contains p {
    width: 90%;
  }
}
.section2 .contains .information {
  font-size: 0.8rem;
  width: 35%;
  margin: 2% 0 2% 32.5%;
  text-align: justify;
}
@media (max-width: 500px) {
  .section2 .contains .information {
    width: 100%;
    text-align: center;
    margin: 0%;
    padding: 5% 0;
  }
}
.section2 .contains .right {
  flex-direction: row-reverse;
  align-content: center;
}
@media (max-width: 500px) {
  .section2 .contains .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (max-width: 1000px) {
  .section2 .contains .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
.indexSection {
  background: #CBC5EA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.indexSection img {
  margin: 5% 0 2% 0;
  width: 95%;
}
.indexSection .btn {
  margin: 0 0 5% 0;
  padding: 2% 2% 2.5% 2%;
  font-size: 3rem;
  height: 2.5rem;
  background: #313D5A;
  color: #CBC5EA;
  border-radius: 50%;
}
@media (max-width: 500px) {
  .indexSection .btn {
    padding: 3% 3% 4% 3%;
  }
}
footer {
  padding: 1% 0%;
  background: #73628A;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}
footer div p {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  color: #183642;
}
@media (max-width: 500px) {
  footer div p {
    font-size: 0.8rem;
  }
}
footer div ul {
  padding: 1% 0%;
  font-size: 0.8rem;
  font-family: 'Merriweather', serif;
  color: #183642;
}
footer div .wunder {
  font-family: 'Permanent Marker', cursive;
}
