footer{
    background: @sectionbgcolor;
    .flex(row, space-evenly,center);
    height: 10vh;
    div{
        padding: 5%;
        p{
            font-size: 1rem;
            font-family:@bodyfont;
            color:@headcolor;
        }
        ul{
            font-size: 1rem;
            font-family:@bodyfont;
            color:@headcolor;
        }
        .wunder{
            font-family:@headfont;
        }
    }
}