@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

@headfont: 'Permanent Marker', cursive;
@bodyfont: 'Merriweather', serif;
@navbarbgcolor: #313D5A;
@bodyfontcolor: #EAEAEA;
@sectionbgcolor: #73628A;